# Can ignore specific files
*.DS_Store
# Use wildcards as well
*~
*.sw*
*.out
*.lock
# debian build dirs
debian
# C EFL/Emodules files
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.ac.orig
depcomp
drawer.pc
e-module-*.edj
e_modules-*.spec
install-sh
libtool
ltmain.sh
m4/*.m4
!m4/ac_attribute.m4
missing
mkinstalldirs
po/*.gmo
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/e_mod*.o
src/e_mod*.lo
src/module.la
src/plugins/sources/.deps/
src/plugins/sources/.libs/
src/plugins/sources/*.la
src/plugins/sources/*.lo
src/plugins/sources/*.o
src/plugins/views/.deps/
src/plugins/views/.libs/
src/plugins/views/*.la
src/plugins/views/*.lo
src/plugins/views/*.o
stamp-h1
mkdeb_editing
