[Desktop Entry]
Type=Link
Name=Directory watcher
Name[ru]=Cмотритель папки
Name[eo]=Dosierujo atentilo
Name[cs]=Zobrazení adresáře
Name[sk]=Zobrazenie adresára
Comment=A directory watcher source plugin
Comment[ru]=Плагин для наблюдения за папкой
Comment[eo]=KromaÄµo kiu atentas la enhavon de dosierujo
Comment[it]=Un plugin per il controllo di directory
Comment[cs]=Rozšíření pro zobrazení souborů v adresáři
Comment[sk]=Rozšírenie pre zobrazenie súborov v adresári

X-Drawer-Title=directory_watcher
