[Desktop Entry]
Type=Link
Name=History launcher
Name[ru]=История
Name[eo]=Historio
Name[cs]=Historie aplikací
Name[sk]=História aplikácií
Comment=An application history launcher source plugin
Comment[ru]=Плагин для запуска приложений из списка истории
Comment[eo]=Lanĉilo de aplikaĵoj memoritaj.
Comment[it]=Un plugin per uno storico del lancio applicazioni
Comment[cs]=Rozšíření pro zobrazení historie spuštěných aplikací
Comment[sk]=Rozšírenie pre zobrazenie histórie spustených aplikácií

X-Drawer-Title=history
