[Desktop Entry]
Type=Link
Name=Window list
Name[ru]=Cписок окон
Name[eo]=Fnestrolisto
Name[cs]=Seznam oken
Name[sk]=Zoznam okien
Comment=A window list source plugin
Comment[ru]=Плагин списка окон
Comment[eo]=Listo de fenestroj
Comment[it]=Un plugin per una lista finestre
Comment[cs]=Rozšíření pro zobrazení seznamu oken
Comment[sk]=Rozšírenie pre zobrazenie zoznamu okien

X-Drawer-Title=winlist
